[package]
name = "rest_api_types"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.7"
serde = "1.0.228"
serde_json = "1.0.145"
thiserror = "2.0.17"
tokio = "1.48.0"

[lints]
workspace = true
