Output out/activate-signers-file.gif

Set Shell "bash"
Set Width 1200
Set Height 750
Set TypingSpeed $TYPING_SPEED
Set PlaybackSpeed 1.0

Type 'asfaload-cli sign-pending --secret-key ~/.asfaload/key_0 --password-file ~/.asfaload/.demo-password -u "$ASFALOAD_DEMO_BACKEND_URL" "$ASFALOAD_DEMO_PENDING_SIGNERS_PATH"'
Enter
$SLEEP 3s

Type 'asfaload-cli sign-pending --secret-key ~/.asfaload/key_1 --password-file ~/.asfaload/.demo-password -u "$ASFALOAD_DEMO_BACKEND_URL" "$ASFALOAD_DEMO_PENDING_SIGNERS_PATH"'
Enter
$SLEEP 3s

Type 'asfaload-cli sign-pending --secret-key ~/.asfaload/key_2 --password-file ~/.asfaload/.demo-password -u "$ASFALOAD_DEMO_BACKEND_URL" "$ASFALOAD_DEMO_PENDING_SIGNERS_PATH"'
Enter
Sleep $END_PAUSE
