Output out/create-signers-file.gif

Set Shell "bash"
Set Width 1200
Set Height 700
Set TypingSpeed $TYPING_SPEED
Set PlaybackSpeed 1.0

Type "cd ~"
Enter
Type "asfaload-cli new-signers-file --artifact-signers-file ~/.asfaload/key_0.pub --artifact-signers-file ~/.asfaload/key_1.pub --artifact-signers-file ~/.asfaload/key_2.pub --artifact-threshold 2 --output-file signers.json"
Enter
Sleep $END_PAUSE
