Output out/generate-keys.gif

Set Shell "bash"
Set Width 1200
Set Height 600
Set TypingSpeed $TYPING_SPEED
Set PlaybackSpeed 1.0

Type "asfaload-cli new-keys --name mykey --output-dir ~/.asfaload --password-file ~/.asfaload/.demo-password"
Enter
Sleep $END_PAUSE
