Output out/register-release.gif

Set Shell "bash"
Set Width 1200
Set Height 600
Set TypingSpeed $TYPING_SPEED
Set PlaybackSpeed 1.0

Type 'asfaload-cli register-assets --secret-key ~/.asfaload/key_0 --password-file ~/.asfaload/.demo-password -u "$ASFALOAD_DEMO_BACKEND_URL" --csum-file "$ASFALOAD_DEMO_CSUM_URL"'
Enter
Sleep $END_PAUSE
